*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e5e5fd;;
    min-height: 200vh;
    border: 10px solid #1d1e4c;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}  
.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.top_section h4{
    font-size:20px ;
    text-align: end;
}
.image_container,img{
width: 300px;
height: 320px;
border-radius: 50%;
 overflow: hidden;
 cursor: pointer;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 20px;
    line-height:30px ;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography{
margin-top: 50px 0;
}
.biography h3 {
    margin-bottom: 20px;
}           
.biography ul {
    margin-left:50px ;
}         
.biography li {
    margin-bottom: 15px;
}
.link{
    margin:50px 0;
}
.link p {
text-align: end;
}